<a href="https://colab.research.google.com/github/milroy-cmd/AI-model-evaluation/blob/main/Model_Evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [43]:
#Question_1
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/zim_cities.csv')

#NAMES OF GROUP MEMBERS 
#MILROY SHUMBA R198175Y
#PRECIOUS RUMHUNGWE R195877T
#CYNTHIA ZHAWU R195828H

In [ ]:
df

            Cities_name  Cities_Population  ... Cities_AdminCode  Cities_CityID
0                Harare            1542813  ...               10         890299
1              Bulawayo             699385  ...                9         894701
2           Chitungwiza             340360  ...               10        1106542
3                Mutare             184205  ...                1         884979
4                 Gweru             146073  ...                2         890422
..                  ...                ...  ...              ...            ...
59  Dorowa Mining Lease               1676  ...                1         892156
60             Beatrice               1647  ...                4         895308
61        Kamativi Mine               1575  ...                6         889390
62            Lalapanzi               1390  ...                2         888667
63               Lupane               1200  ...                6         888225

[64 rows x 5 columns]

In [ ]:
df.dtypes

Cities_name          object
Cities_Population     int64
Cities_Location      object
Cities_AdminCode      int64
Cities_CityID         int64
dtype: object

In [ ]:
df['Cities_Location']

0     (-17.82772, 31.05337)
1        (-20.15, 28.58333)
2     (-18.01274, 31.07555)
3      (-18.9707, 32.67086)
4        (-19.45, 29.81667)
              ...
59       (-19.06667, 31.75)
60     (-18.25283, 30.8473)
61    (-18.31563, 27.05729)
62    (-19.33225, 30.17768)
63    (-18.93149, 27.80696)
Name: Cities_Location, Length: 64, dtype: object

In [ ]:
df['Cities_Location'] = df['Cities_Location'].str.replace(',', ' ').str.replace('(', ' ').str.replace(')', ' ')

In [ ]:
df['Cities_Location']

0      -17.82772  31.05337
1         -20.15  28.58333
2      -18.01274  31.07555
3       -18.9707  32.67086
4         -19.45  29.81667
              ...
59        -19.06667  31.75
60      -18.25283  30.8473
61     -18.31563  27.05729
62     -19.33225  30.17768
63     -18.93149  27.80696
Name: Cities_Location, Length: 64, dtype: object

In [19]:
df['Latitude'] = pd.to_numeric(df['Cities_Location'].str.split(' ').str.get(1))

In [20]:
df['Cities_Location']

0      -17.82772  31.05337
1         -20.15  28.58333
2      -18.01274  31.07555
3       -18.9707  32.67086
4         -19.45  29.81667
              ...
59        -19.06667  31.75
60      -18.25283  30.8473
61     -18.31563  27.05729
62     -19.33225  30.17768
63     -18.93149  27.80696
Name: Cities_Location, Length: 64, dtype: object

In [21]:
df['Latitude']

0    -17.82772
1    -20.15000
2    -18.01274
3    -18.97070
4    -19.45000
        ...
59   -19.06667
60   -18.25283
61   -18.31563
62   -19.33225
63   -18.93149
Name: Latitude, Length: 64, dtype: float64

In [22]:
df['Longitude'] = pd.to_numeric(df['Cities_Location'].str.split(' ').str.get(3))

In [23]:
df['Longitude']

0     31.05337
1     28.58333
2     31.07555
3     32.67086
4     29.81667
        ...
59    31.75000
60    30.84730
61    27.05729
62    30.17768
63    27.80696
Name: Longitude, Length: 64, dtype: float64

In [24]:
df

            Cities_name  Cities_Population  ...  Latitude  Longitude
0                Harare            1542813  ... -17.82772   31.05337
1              Bulawayo             699385  ... -20.15000   28.58333
2           Chitungwiza             340360  ... -18.01274   31.07555
3                Mutare             184205  ... -18.97070   32.67086
4                 Gweru             146073  ... -19.45000   29.81667
..                  ...                ...  ...       ...        ...
59  Dorowa Mining Lease               1676  ... -19.06667   31.75000
60             Beatrice               1647  ... -18.25283   30.84730
61        Kamativi Mine               1575  ... -18.31563   27.05729
62            Lalapanzi               1390  ... -19.33225   30.17768
63               Lupane               1200  ... -18.93149   27.80696

[64 rows x 7 columns]

In [25]:
df.drop('Cities_Location', axis = 1,inplace=True)

In [26]:
from math import radians,cos,sin
lat=df["Latitude"].map(radians)
long=df["Longitude"].map(radians)

df["lat_radians"]=lat
df["long_radians"]=long

df.head()

   Cities_name  Cities_Population  ...  lat_radians  long_radians
0       Harare            1542813  ...    -0.311152      0.541984
1     Bulawayo             699385  ...    -0.351684      0.498873
2  Chitungwiza             340360  ...    -0.314382      0.542371
3       Mutare             184205  ...    -0.331101      0.570214
4        Gweru             146073  ...    -0.339467      0.520399

[5 rows x 8 columns]

In [27]:
df.corr()

                   Cities_Population  ...  long_radians
Cities_Population           1.000000  ...      0.024837
Cities_AdminCode            0.396522  ...     -0.463286
Cities_CityID               0.159304  ...      0.075323
Latitude                    0.004401  ...      0.074885
Longitude                   0.024837  ...      1.000000
lat_radians                 0.004401  ...      0.074885
long_radians                0.024837  ...      1.000000

[7 rows x 7 columns]

In [28]:
X = df.drop(['Cities_name','Cities_Population'], axis = 1 ) #independent features
Y= df['Cities_Population'] #dependent feature that were predicting

In [29]:
X

    Cities_AdminCode  Cities_CityID  ...  lat_radians  long_radians
0                 10         890299  ...    -0.311152      0.541984
1                  9         894701  ...    -0.351684      0.498873
2                 10        1106542  ...    -0.314382      0.542371
3                  1         884979  ...    -0.331101      0.570214
4                  2         890422  ...    -0.339467      0.520399
..               ...            ...  ...          ...           ...
59                 1         892156  ...    -0.332776      0.554142
60                 4         895308  ...    -0.318572      0.538387
61                 6         889390  ...    -0.319668      0.472239
62                 2         888667  ...    -0.337411      0.526700
63                 6         888225  ...    -0.330417      0.485323

[64 rows x 6 columns]

In [30]:
Y

0     1542813
1      699385
2      340360
3      184205
4      146073
       ...
59       1676
60       1647
61       1575
62       1390
63       1200
Name: Cities_Population, Length: 64, dtype: int64

In [31]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

X= scaler.fit_transform(X)

In [32]:
#splitting data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 5)

In [33]:
x_train.shape

(51, 6)

In [34]:
x_test.shape

(13, 6)

In [35]:
#training model

from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()

lin_reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [36]:
import numpy as np
from sklearn.metrics import mean_squared_error
pop_predictions = lin_reg.predict(x_test)
lin_mse = mean_squared_error(y_test,pop_predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

109436.0488757709

In [37]:
from sklearn.tree import DecisionTreeRegressor

tree = DecisionTreeRegressor()
tree.fit(x_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [38]:
 pop_predictions = tree.predict(x_test)
lin_mse = mean_squared_error(y_test,pop_predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

54468.49102568736

In [39]:
from xgboost import XGBRegressor
xgb_model = XGBRegressor()
xgb_model.fit(x_train,y_train)

[22:05:27] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [40]:
 pop_predictions = xgb_model.predict(x_test)
lin_mse = mean_squared_error(y_test,pop_predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

53054.24392657458

In [41]:
from sklearn.ensemble import RandomForestRegressor
forest_model=RandomForestRegressor()
forest_model.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [42]:
 pop_predictions = forest_model.predict(x_test)
lin_mse = mean_squared_error(y_test,pop_predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

52464.97294451693